*{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

body {

	max-width: 850px;
    margin-right: auto;
    margin-left: auto;
}
.main image {

	padding-left: 20px;
}

.container{

	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
}

h3{
	color: #7d97ad;
}

.logo{

	margin-top: 20px;
	float: left;
}

.ruler{
    border: 2px solid #7d97ad;
}

.fonty{

    color: #2d3c49;

}

.wgt{

	font-weight: bolder; 
}

.name{

	font-size: 51px;
	color: #7d97ad;

}

footer{
	font-size: 30px;
}